body {
    height: 95vh;
}
.navbar {
    text-align: center;
    margin-top: 1.3rem;
}
.navbar > a {
    color: inherit;
    margin: 0 1rem;
    text-decoration: none;
    font-size: 1.3rem;
}
.navbar > a:hover {
    text-decoration: 2px underline coral;
}
.navbar > a:visited {
    color: inherit;
}
.container {
    max-width: 60vw;
    margin: 5rem auto 0;
    text-align: center;
}
.container > .servlet-link {
    color: gray;
}
.container > .servlet-link > a, .container > .servlet-link > a:visited {
    color: inherit;
    font-size: 1.15rem;
    text-decoration: dashed underline gray;
    margin: 0 1rem;
}
.container > .servlet-link > a:hover {
    color: black;
    text-decoration: wavy underline coral;
}
ul.listbox {
    margin: 0 auto;
    max-width: 25rem;
    text-align: left;
    border: 2px solid black;
    border-radius: 10px;
}
ul.listbox > li {
    margin: 0.5rem 0;
}
.container > form[name="allform"] {
    border: 0.0625rem solid black;
    border-radius: 0.625rem;
    padding: 0.625rem 1.875rem;
    width: 20vw;
    margin: 2.25rem auto 0;
    text-align: left;
    font-size: 1.25rem;
}
.container > form[name="allform"] > div {
    display: flex;
    justify-content: space-between;
    margin: 0.625rem 0;
}
.container > form[name="allform"] > div > input[type="text"],
.container > form[name="allform"] > div > input[type="number"]{
    font-size: 1.25rem;
}
.container > form[name="allform"] > div > input[type="text"]:focus,
.container > form[name="allform"] > div > input[type="number"]:focus{
    outline: 0.125rem solid coral;
}
.container > form[name="allform"] > div > button[type="submit"], .container > a > button {
    cursor: pointer;
    color: white;
    background-color: coral;
    font-size: 1rem;
    margin: 0.625rem auto 0;
    padding: 0.625rem 1.875rem;
    border: 0.0625rem solid white;
    border-radius: 1.5625rem;
    transition: all ease-in-out 60ms;
}
.container > form[name="allform"] > div > button[type="submit"]:hover, .container > a > button:hover {
    outline: 0.125rem solid coral;
}
.container > form[name="allform"] > div > button[type="submit"]:active, .container > a > button:active {
    outline: none;
}
.container > h1.session-message {
    text-decoration: 2px underline coral;
    font-style: italic;
}
.container > a[href="jstlPages.jsp"] {
    color: black;
    text-decoration: 2px underline dashed coral;
    font-size: 1.15rem;
}
.container > a[href="jstlPages.jsp"]:hover {
    text-decoration: 2px underline solid coral;
}
.container > table, tr > th, tr > td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.3125rem 0.625rem;
    margin: 0 auto 1.5625rem;
}
.modal {
    visibility: hidden;
    opacity: 0;
    width: 200px;
    border: 1px solid black;
    position: fixed;
    top: 50%;
    right: 50%;
    background-color: white;
    padding: 16px 16px 20px;
    border-radius: 10px;
    transform: translateX(50%) translateY(-100%);
    transition: all ease-in-out 200ms;
}
.modal.open {
    visibility: visible;
    opacity: 100%;
    transform: translateX(50%) translateY(-50%);
}
.modal > .modal-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}
.modal > .modal-desc {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: justify;
}
.modal > .modal-btn {
    text-align: center;
}
.modal-btn > .btn-close {
    font-size: 14px;
    padding: 5px 20px;
    background-color: coral;
    outline: none;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}
.modal-btn > .btn-close:hover {
    outline: 1px solid coral;
}